$color-brown: #412d26;
$color-light-brown: rgba(65, 45, 38, 0.7);
$color-light: rgba(255, 255, 255, 0.7);
$color-blue: #264796;
$color-yellow: #fecc00;
$color-light-yellow: #fff1e1;
$color-orange: #ebba7c;
$color-white: #ffffff;
