@import '../variables';

footer {
    padding-top: 45px;
    background-color: #fbf9f6;

    @media screen and (max-width : 768px) {
        padding: 0;
    }
}

footer .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 22px;
    background: url('../assets/images/under-splash.png') no-repeat center center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    line-height: 0.5;
    letter-spacing: 0.8px;

    @media screen and (max-width : 920px) {
        background-size: 90%;
    }

    @media screen and (max-width : 767px) {
        background-size: auto;
    }
}

footer li {
    padding-bottom: 15px;
}

footer li a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.67;
    letter-spacing: 0.6px;
    color: $color-brown;

    &:hover {
        color: $color-yellow;
    }
}

.navigation-column ul,
.contacts-column ul {
    margin-left: 100px;

    @media screen and (max-width : 992px) {
        margin: 50px;
    }

    @media screen and (max-width : 768px) {
        margin: 0;
    }
}

.contacts-column ul {
    width: 70%;

    @media screen and (max-width : 768px) {
        width: 100%;
    }
}

.contacts-column ul li {
    display: flex;
    align-items: center;
}

.logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width : 768px) {
        margin-top: 25px;
    }
}

.logo-column img {
    width: 163px;
}

.logo-column .raiting {
    display: flex;
    align-items: center;    

    @media screen and (max-width : 768px) {
        margin-top: 25px;
    }
}

.logo-column .raiting-text {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.logo-column .gray-text {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 0.71;
    color: rgba(0, 0, 0, 0.5);
}

.logo-column .blue-text {
    font-size: 14px;
    line-height: 0.71;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-blue;
}

.logo-column .raiting-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.72;
    letter-spacing: -1.1px;
    background: $color-blue;
    color: $color-white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contacts-text {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.6px;
}

.add-info {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: -0.2px;
    color: rgba(65, 45, 38, 0.6);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    color: $color-light-brown;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (max-width : 768px) {
        flex-direction: column;
    }

    img {
        width: 20px;
    }
}