@import '../variables';
// intro section
main {
    background: $color-light-yellow;
}
main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

// same style for main content and invocation section
.content .heading,
.invocation .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 51px;
    margin-bottom: 22px;
    background: url('../images/under-splash.png') no-repeat center center;
    text-transform: uppercase;
    font-size: 20.5px;
    font-weight: 900;
    line-height: 1.05;
}

.invocation .heading {

    @media screen and (max-width : 767px) {
        width: auto;
    }
}

.content .intro {
    text-align: center;
    color: $color-brown;
}

// cards content
.offer-cards {
    padding-bottom: 35px;
}

.offer-cards .column {
    display: flex;
    justify-content: center;
}

.img-container {
    position: relative;
    height: 203px;
}

.img-container__hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color .2s, opacity .2s;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.img-container:hover .img-container__hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.img-container__hover .text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    text-transform: uppercase;
    color: $color-white;
}

.img-container img {
    width: 463px;
    height: 203px;
}   

.info-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width : 767px) {
        flex-direction: column;

        .stars {
            margin-top: 15px;
        }
    }
}

.info-container .text {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.06;
    text-transform: uppercase;
    color: $color-brown;
    border-bottom: 2px solid $color-brown;
}

.info-container img {
    margin-left: 10px;
}

.info-container p {
    margin-top: 13px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.19;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width : 360px) {
        display: none;
    }
}

span.icon {
    height: 35px;
}

.icons li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 45px;
    cursor: pointer;
}

.icons li:hover .hover-icon, 
.icons li:hover .arrow-up {
    opacity: 1;
}

.hover-icon {
    padding: 2px 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: justify;
    background: $color-brown;
    color: $color-white;
    border-radius: 8px;
    transition: opacity .2s;
    opacity: 0;
}

// arrow up
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $color-brown;
    transition: opacity .2s;
    opacity: 0;
  }

// section pool image with text 
.invocation {
    max-width: 100%;
    height: 305px;
    background: url('../images/stg-7754.jpg') no-repeat center center;

    @media screen and (max-width : 767px) {
        height: auto;
        text-align: justify;
        background: #624638;
    }
}

.invocation p {
    line-height: 1.56;
    color: rgba(255, 241, 225, 0.7);
    margin-bottom: 40px;
}

// quote section
.quote {
    background: $color-orange;
    padding: 20px 0;

    &::before {
        content: "\e978";
        position: absolute;
        font-family: 'icomoon';
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 178px;
        color: #fff;
        opacity: 0.1;

        @media screen and (max-width : 1056px) {
            top: 80%;
        }

        @media screen and (max-width : 992px) {
            top: 81%;
        }

        @media screen and (max-width : 767px) {
            top: 70%;
        }
    }
}

.quote .column {
    display: flex;
    align-items: center;

    @media screen and (max-width : 767px) {
        flex-direction: column;
    }
}

.quote .profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    margin-right: 50px;
    box-shadow: 0 0 9px 0 rgba(48, 29, 29, 0.56);
    background-color: #ffffff;
    border-radius: 50%;

    @media screen and (max-width : 767px) {
        margin: 0;
    }
}

.quote img {
    border-radius: 50%;
}

.quote-text {
    flex: 11;
}

.quote-text .name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.06;
    letter-spacing: -0.4px;
    padding-bottom: 13px;
}