@import '../variables';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
    background: $color-brown;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;

    ul {
        display: flex;
    }

    .nav-item {
        margin-right: 50px;
        padding-bottom: 12px;
        font-size: 15px;
        font-weight: 500;
        line-height: 0.67;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: $color-light;
        transition: color .2s, border .2s;

        &:hover {
            color: $color-yellow;
            border-bottom: 2px solid $color-yellow;
        }
    }
}