@import '../variables';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
    background: $color-brown;

    @media screen and (max-width : 767px) {
        height: auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;

    @media screen and (max-width : 767px) {
        display: block;
    }
}

.nav ul {
    display: flex;

    @media screen and (max-width : 767px) {
        display: block;
    }
}

ul .nav-item {
        margin-right: 50px;
        padding-bottom: 12px;
        font-size: 15px;
        font-weight: 500;
        line-height: 0.67;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: $color-light;
        transition: color .2s, border .2s;

        &:hover {
            color: $color-yellow;
            border-bottom: 2px solid $color-yellow;
        }

        @media screen and (max-width : 992px) {
            margin-right: 35px;
            font-size: 13px;
        }

        @media screen and (max-width : 767px) {
            width: 100%;
            margin-bottom: 15px;
            display: none;
        }
}

.toggle-navigation {
    display: none;

    @media screen and (max-width : 767px) {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .nav.responsive {
        position: relative;
        margin-top: 15px;
    }
    .nav.responsive .nav-item{
        float: none;
        display: block;
        text-align: left;
        animation: fade 2s;
    }

}