* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  max-width: 100%; }

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 14px; }

.lang-menu {
  display: flex; }

.logo img {
  position: absolute;
  top: 20px; }

.contacts {
  display: flex;
  align-items: center; }
  .contacts .seperator {
    height: 38px;
    margin: 0 5px 0 13px;
    border-right: 1px dashed #412d26; }
  .contacts .call-info {
    display: flex;
    align-items: center;
    color: #412d26; }
    .contacts .call-info .phone-number {
      font-weight: 600;
      line-height: 1.21; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  background: #412d26; }

.nav {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto; }

.nav ul {
  display: flex; }

ul .nav-item {
  margin-right: 50px;
  padding-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.67;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  transition: color .2s, border .2s; }
  ul .nav-item:hover {
    color: #fecc00;
    border-bottom: 2px solid #fecc00; }

main {
  background: #fff1e1; }

main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 44px; }

.content .heading,
.invocation .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 51px;
  margin-bottom: 22px;
  background: url("/assets/images/under-splash.png") no-repeat center center;
  text-transform: uppercase;
  font-size: 20.5px;
  font-weight: 900;
  line-height: 1.05; }

.content .intro {
  text-align: center;
  margin-bottom: 48px; }

.offer-cards {
  padding-bottom: 65px; }

.offer-cards .column {
  display: flex;
  justify-content: center; }

.img-container {
  position: relative;
  height: 203px; }

.img-container__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .2s, opacity .2s;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0; }

.img-container:hover .img-container__hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1; }

.img-container__hover .text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  text-transform: uppercase;
  color: #ffffff; }

.img-container img {
  width: 463px;
  height: 203px; }

.info-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.info-container .text {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.06;
  text-transform: uppercase;
  color: #412d26;
  border-bottom: 2px solid #412d26; }

.info-container img {
  margin-left: 10px; }

.info-container p {
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.19;
  text-align: justify;
  color: rgba(0, 0, 0, 0.6); }

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.invocation {
  max-width: 100%;
  height: 305px;
  background: url("/assets/images/stg-7754.jpg") no-repeat center center; }

.invocation .column {
  padding-top: 40px; }

.invocation p {
  line-height: 1.56;
  color: rgba(255, 241, 225, 0.7);
  margin-bottom: 40px; }

.quote {
  background: #ebba7c;
  padding: 20px 0; }

.quote .column {
  display: flex;
  align-items: center; }

.quote .profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 96px;
  height: 96px;
  margin-right: 50px;
  box-shadow: 0 0 9px 0 rgba(48, 29, 29, 0.56);
  background-color: #ffffff;
  border-radius: 50%; }

.quote img {
  border-radius: 50%; }

.quote-text {
  flex: 11; }

.quote-text .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.06;
  letter-spacing: -0.4px;
  padding-bottom: 13px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.column {
  flex-basis: 100%; }

@media screen and (min-width: 768px) {
  .column {
    flex: 1; } }

.language-btn {
  margin-right: 20px;
  padding: 6px;
  color: #412d26;
  text-transform: uppercase;
  border-radius: 14.5px; }
  .language-btn:hover {
    -webkit-animation: bounce 1.5s;
    animation: bounce 1.5s;
    background: #fecc00;
    font-weight: 600; }

.language-btn.active {
  background: #fecc00;
  font-weight: 600; }

.reservation-btn {
  height: 29px;
  padding: 5px 15px;
  text-transform: uppercase;
  color: #412d26;
  border: 1px solid #412d26;
  border-radius: 14.5px;
  background: linear-gradient(to left, #ffffff 50%, #412d26 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1.5s ease; }
  .reservation-btn:hover {
    background-position: left bottom;
    color: #ffffff; }

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(-5px); } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(-5px); } }

.card {
  width: 496px;
  height: 412px;
  padding: 16px;
  box-shadow: 0 0 51px 0 rgba(29, 25, 44, 0.13);
  background: #ffffff; }
