@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?5ax6w6');
  src: url('../fonts/icomoon.eot?5ax6w6#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.ttf?5ax6w6') format('truetype'),
       url('../fonts/icomoon.woff?5ax6w6') format('woff'),
       url('../fonts/icomoon.svg?5ax6w6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air-conditioner:before {
  content: "\e901";
  font-size: 28px;
}
.icon-breakfast:before {
  content: "\e902";
  font-size: 28px;
}
.icon-double-bed:before {
  content: "\e903";
  font-size: 28px;
}
.icon-eye:before {
  content: "\e904";
  color: #fff;
  font-size: 30px;
}
.icon-lounge-chair:before {
  content: "\e905";
  font-size: 28px;
}
.icon-phone:before {
  content: "\e906";
  font-size: 25px;
  margin: 7px;
}
.icon-place:before {
  content: "\e907";
  font-size: 18px;
}
.icon-pool:before {
  content: "\e908";
  font-size: 28px;
}
.icon-sofa:before {
  content: "\e909";
  font-size: 28px;
}
.icon-tv:before {
  content: "\e90a";
  font-size: 28px;
}
.icon-envelop:before {
  content: "\e945";
  font-size: 18px;
  color: #412d26;
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-menu:before {
  content: "\e9bd";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}


@media screen and (max-width : 768px) {
  .icon-eye:before {
    font-size: 0;
  }
}